* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #9f0013;
  --bg-color: #232222;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--main-color);
  padding: 10px 50px;
  border: none;
  margin: 45px auto;
  cursor: pointer;
  transition: 0.2s all;
  min-width: 185px;
}

.button[disabled] {
  background-color: var(--bg-color);
  cursor: default;
}

/* @media screen and (max-width: 769px) {
  .container {
    max-width: 720px;
  }
  .info {
    min-width: auto;
  }
} */
